/* Importação de fontes */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

/* Resetando margens e padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

/* Declaração de fontes personalizadas */
@font-face {
  font-family: grafitte;
  src: url(adrip1.ttf);
}

@font-face {
  font-family: don graf;
  src: url(DonGraffiti.otf);
}

@font-face {
  font-family: starbirl;
  src: url(Starbirl.otf);
}

@font-face {
  font-family: futura;
  src: url(Futura\ Std\ Extra\ Bold\ Condensed\ Oblique.ttf);
}

@font-face {
  font-family: futura leve;
  src: url(Futura\ Std\ Light\ Condensed.ttf);
}

.section1{
    text-align: center;
    margin-top: 2em;
    margin-bottom: 5em;
}

.section1 h1{
    font-size: 6em;
    font-family: futura leve;
    letter-spacing: 10px;
}

.section1 h3 {
  font-size: 3em;
  font-family: futura leve;
  letter-spacing: 10px;
}

.fotos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin-top: 2%;
}

.fotos div{
    width: 400px;
    margin: 2% 5%;
    cursor: pointer;
}

.fotos img{
    width: 100%;
    height: 500px;
    object-fit: cover;
    transition: 0.5s;
}

.fotos img:hover{
    transform: scale(1.02);
    overflow: hidden;
  }

.fotos h2 {
  font-family: futura leve;
  margin-top: 5%;
  font-size: 1.5em;
  color: #30020a;
}