/* style.module.css */

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

@font-face {
  font-family: grafitte;
  src: url(adrip1.ttf);
}

@font-face {
  font-family: don-graf;
  src: url(DonGraffiti.otf);
}

@font-face {
  font-family: starbirl;
  src: url(Starbirl.otf);
}

@font-face {
  font-family: futura;
  src: url(Futura\ Std\ Extra\ Bold\ Condensed\ Oblique.ttf);
}

@font-face {
  font-family: futura-leve;
  src: url(Futura\ Std\ Light\ Condensed.ttf);
}

.logo {
  font-family: grafitte;
  color: #30020a;
  margin-left: 2%;
}

.home {
  color: #30020a;
}

.lacosteImg {
    text-align: center;
}

.lacosteTxt {
  font-size: 96px;
  text-align: center;
  margin-left: 33%;
  padding-top: 5em;
}

.ano {
  color: #30020a;
}

.nov {
  color: #30020a;
  font-size: 60px;
  position: absolute;
  margin-left: 18%;
  letter-spacing: 32px;
  font-weight: bold;
}

.section2 {
  display: grid;
  grid-template-columns: 400px 400px 400px 400px;
  gap: 5%;
  padding-top: 5em;
  justify-content: center;
  height: 650px;
}

.roupas {
  overflow: hidden;
  position: relative;
} 

.roupas:hover {
  transform: scale(1.02);
  filter: saturate(0);
  transition: 0.5s;
}

.gemeas {
  width: 432px;
  height: 540px;
  background: url(baw.jpg);
  background-size: 432px;
}

.moletons {
  font-family: futura;
  position: absolute;
  text-align: center;
  margin-top: 50%;
  margin-left: 21%;
  width: 250px;
  line-height: 43px;
  height: 50px;
  font-size: 40px;
  color: #30020a;
  border: solid #30020a;
}

.compra {
  color: #30020a;
  font-family: futura;
  margin-left: 34%;
  margin-top: 62%;
}

.lentes {
  width: 432px;
  height: 540px;
  background: url(oakley.png);
  background-size: 432px;
}

.polos {
  width: 432px;
  height: 540px;
  background: url(lacoste.jpg);
  background-size: 432px;
}

.tenis {
  width: 432px;
  height: 540px;
  background: url(nike.jpg);
  background-size: 432px;
}

.linha {
  width: 100%;
  background-color: #30020a;
  height: 3px;
  margin-top: 5em;
}

.section3 {
  padding-top: -7rem;
}

.lancamentos {
  padding-top: 5em;
}

.lancamentos h2 {
  color: #30020a;
  font-family: futura;
  position: absolute;
  font-size: 80px;
  margin-left: 16%;
}

.lancamentos p {
  font-family: 'Josefin Sans', sans-serif;
  position: absolute;
  margin-top: 6%;
  font-size: 50px;
  line-height: 1.5;
  margin-left: 2%;
  font-weight: 500;
}

.lancamentos article {
  color: #000000;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 30px;
  position: absolute;
  margin-top: 30%;
  margin-left: 2%;
  font-weight: 300;
}

.preco {
  color: #30020a;
  font-weight: bold;
}

.magrao {
  text-align: right;
  padding-right: 5.2em;
  margin-top: 0.3em;
  position: relative;
}
