/* Importando fontes */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
  overflow-x: hidden;
}

@font-face {
  font-family: grafitte;
  src: url(adrip1.ttf);
}

@font-face {
  font-family: don graf;
  src: url(DonGraffiti.otf);
}

@font-face {
  font-family: starbirl;
  src: url(Starbirl.otf);
}

@font-face {
  font-family: futura;
  src: url(Futura\ Std\ Extra\ Bold\ Condensed\ Oblique.ttf);
}

@font-face {
  font-family: futura leve;
  src: url(Futura\ Std\ Light\ Condensed.ttf);
}

.form2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 6%;
}

.section1 h2 {
  font-size: 3.5em;
  letter-spacing: 3px;
  margin: 3% 0%;
}

.lbl1 {
  font-size: 25px;
}

.txtnome {
  border-radius: 30px;
  padding: 0% 2%;
  height: 40px;
  width: 100%;
  font-size: 1rem;
  line-height: 1.5;
  border: 1px solid #30020a;
}

.dois {
  margin-top: 8%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainsec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5% 0%;
}

.linklogin {
  margin: 2%;
  font-size: 1.5em;
  color: black;
  text-decoration: underline;
}

.btn {
  width: 200px;
  height: 50px;
  border-radius: 30px;
  margin-top: 5%;
  background-color: #30020a;
  color: white;
  font-weight: bold;
  font-family: futura leve;
  letter-spacing: 2px;
  font-size: 1.1em;
  cursor: pointer;
  border: 1px solid black;
}

.btn:hover {
  background-color: #0c0002;
  transition: 0.3s;
}
