/* header.module.css */

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{ margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
    list-style: none;
}

@font-face {
        font-family: grafitte;
        src: url(adrip1.ttf);
    }

    @font-face {
        font-family: don graf;
        src: url(DonGraffiti.otf);
    }

    @font-face {
        font-family: starbirl;
        src: url(Starbirl.otf);
    }

    @font-face {
        font-family: futura;
        src: url(Futura\ Std\ Extra\ Bold\ Condensed\ Oblique.ttf);
    }

    @font-face {
        font-family: futura leve;
        src: url(Futura\ Std\ Light\ Condensed.ttf);
    }

header{
    padding: 0% 1%;
}

.logo {
    width: 30%;
    font-family: grafitte;
    font-size: 70px;
    color: #30020a;
}

.navUl {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 40%;
}

.navItem {
    color: black;
    font-weight: 900;
    font-size: 1.5em;
    font-family: 'Josefin Sans', sans-serif;
    justify-content: space-around;
}

.navItem:hover {
    color: #30020a;
}

.topicos {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    justify-content: space-between;
}

.sociaisSvg {
    fill: black;
    cursor: pointer;
    transition: 0.3s;
}

.sociaisSvg:hover {
    fill: #30020a;
}

.icones {
    margin: 0% 5%;
    width: 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search {
    margin-top: 2%;
    display: flex;
    gap: 5px;
    margin-left: -5%;
}

.search input {
    width: 170px;
    border: solid 2px #30020a;
    height: 25px;
    border-radius: 5px;
    font-weight: bold;
}

.svgSearch {
    margin-top: 2%;
}

.btnCart {
    height: 40px;
    margin-top: 2%;
    background-color: transparent;
    border: 0;
    margin-left: -5%;
    width: 30px;
}

.quantProdutos {
    content: "";
    position: relative;
    margin-right: 25%;
    background-color: #30020a;
    color: white;
    font-weight: bold;
    font-size: 13px;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
}

.svgCart {
    color: #30020a;
}

.menuBars {
    height: 23px;
    margin-top: 2%;
    background-color: transparent;
    border: 0;
    margin-left: -4%;
    width: 30px;
}